.new-user-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 450px;
    border: 1px solid black;
    padding: 15px;
}
input{
    border: 1px solid black;
}
.to-main{
    border: 1px solid black;
    transition: all ease-in-out 0.2s;
    display: flex;
    justify-content: center;
}
.to-main:hover{
    background-color: rgba(0,0,0, 0.3);
}
.link{
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.submit-button{
    border: 1px solid black;
    margin-top: 15px;
}